.h1Style{
    color:"white";
    width: 99vw;
    height: 65vh;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    right: 40px;
    top: -50px;
    color: rgb(207, 207, 207);
    background-color:#2b215a ;
    font-weight: 800;
    border-bottom:2px red ;
}

.h2Zize{
    font-size: 2.2em;
    font-weight: 700;
    text-decoration: inherit;
    text-align: center;
}

.h3Zize{
    font-size: 1.7em;
    font-weight: 700;
    text-decoration: inherit;
}